:root {
  --color-text-pale-violet: #ffeaff;
  --color-text-mod-violet: #9241c8;
  --color-text-dark-violet: #6e5d7e;
  --color-text-placeholder: #c6cacd;
  --color-text-primary: #3e2753;
  --color-text-secondary: #a39daa;
  --color-accent-magenta: #e942ff;
  --color-accent-violet: #8838ff;
  --color-accent-radio-btn: #eb94ff;
  --color-bubble-violet: #ede5f4;
  --color-bg-white: #fff;
  --color-bg-app: #f5f3f7;
  --color-bg-main: #fafafa;
  --color-shadow-app: #a39daa23;

  --fs-xl: 4rem;
  --fs-400: 1.6rem;
  --fs-300: 1rem;
  --fs-200: 0.8rem;
  --fs-100: 0.7rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.container {
  width: 80%;
  margin: 6rem auto;
  max-width: 810px;
}

/* Typography */
html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  font-size: var(--fs-400);
  color: var(--color-text-secondary);
  background-color: var(--color-bg-main);
  overflow-x: hidden;
  position: relative;
}

h1 {
  font-size: var(--fs-xl);
  font-weight: 500;
  color: var(--color-text-primary);
}

/* Media Group */
.media {
  display: flex;
  column-gap: 1rem;
}
.media__img {
  width: 2.4rem;
  height: 2.4rem;
  border: 1px solid var(--color-text-pale-violet);
  border-radius: 50%;
}

.media__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1px 0;
}

.media__title {
  font-size: var(--fs-300);
  font-weight: 500;
  color: var(--color-text-pale-violet);
  opacity: 0.9;
}

.media__description {
  font-size: var(--fs-100);
  font-weight: 400;
  color: var(--color-text-pale-violet);
  opacity: 0.6;
}

/* Interface Header */
.interface-header {
  background: linear-gradient(
    to right,
    var(--color-accent-violet),
    var(--color-accent-magenta)
  );
  color: var(--color-text-pale-violet);
  display: flex;
  align-items: center;
  padding: 2.8rem 1rem 1rem;
  border-radius: 20px 20px 7px 7px;
  box-shadow: 0 8px 10px 6px var(--color-shadow-app);
}

.return-btn {
  font-weight: 500;
  transform: scaleX(0.5);
  opacity: 0.9;
}

.interface-header .media {
  margin-left: 0.7rem;
}

.interface-header .fas {
  font-size: var(--fs-200);
  margin-left: auto;
  opacity: 0.8;
}

/* Input */
.input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 210px; */
  padding: 0.5rem;
  border-radius: 50px;
  background: var(--color-bg-white);
}

.input__placeholder {
  font-size: var(--fs-200);
  color: var(--color-text-placeholder);
  margin-left: 1.2rem;
  padding-top: 3px;
}

.input__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.4rem;
  height: 2.4rem;
  background: var(--color-text-primary);
  border-radius: 100%;
}

.input__btn p {
  font-weight: 700;
  color: white;
}

/* Speech Bubble */
.bubble {
  max-width: 130px;
  font-size: var(--fs-200);
  color: var(--color-text-dark-violet);
  background: var(--color-bg-white);
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 6px 10px 3px var(--color-shadow-app);
}

.bubble--left {
  border-bottom-left-radius: 3px;
}

.bubble--right {
  border-bottom-right-radius: 3px;
}

.bubble--purple {
  color: var(--color-text-mod-violet);
  background: var(--color-bubble-violet);
  box-shadow: none;
}

.bubble--gradient {
  background: linear-gradient(
    to right,
    var(--color-accent-magenta),
    var(--color-accent-violet)
  );
  color: white;
}

.bubble--long {
  max-width: 160px;
}

/* Dog Photo Group */
.photo-group {
  display: flex;
  gap: 8px;
}

.photo {
  width: 40px;
  height: 40px;
  border-radius: 8px;
}

/* Package option */
.option {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.option__description {
  color: var(--color-bubble-violet);
  opacity: 0.9;
}

.option__description::before {
  content: "";
  display: inline-block;
  border: 1.5px solid var(--color-accent-radio-btn);
  border-radius: 50%;
  width: 12px;
  height: 12px;
  margin-right: 8px;
  vertical-align: -32%;
}

.option__price {
  font-size: var(--fs-300);
  font-weight: 700;
  margin-right: 0.5rem;
}

/* Device */
.device {
  background-color: var(--color-bg-app);
  width: 250px;
  height: 500px;
  margin: 0 auto 6rem;
  border: 8px solid var(--color-bg-white);
  border-radius: 25px;
  position: relative;
  box-shadow: 0 0 10px 10px var(--color-shadow-app);
  display: flex;
  flex-direction: column;
}

.device::before {
  content: "";
  width: 130px;
  height: 25px;
  background-color: var(--color-bg-white);
  position: absolute;
  z-index: 10;
  border-radius: 0 0 15px 15px;
  left: 50%;
  top: -7px;
  transform: translateX(-50%);
}

/* Conversation */
.conversation {
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.conversation .flex--end {
  align-self: flex-end;
}

.conversation .input {
  margin-top: auto;
}

/* Main content */
.page-content {
  text-align: center;
}

.page-text {
  line-height: 1.8;
}

.bg-shape {
  width: 500px;
  background: linear-gradient(
    45deg,
    var(--color-accent-violet),
    var(--color-accent-magenta)
  );
  border-radius: 0 0 250px 250px;
  position: absolute;
  z-index: -999;
  top: -6rem;
  bottom: 35%;
  right: 50%;
}

.bg-shape--light {
  transform: rotate(180deg);
  bottom: 0;
  top: calc(-20% + 600px);
  right: -50%;
  opacity: 0.03;
}

/* Attribution */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: var(--color-text-primary);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s ease-out;
}

.attribution a:hover {
  color: var(--color-accent-violet);
}

@media screen and (min-width: 900px) {
  body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container {
    margin: 0;
  }
  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .page-content {
    text-align: start;
    width: 55%;
  }

  .device {
    margin: 0;
  }

  .bg-shape {
    top: 0;
    bottom: 15%;
    left: -8vw;
  }

  .bg-shape--light {
    top: 15%;
    bottom: 0;
    left: calc(108vw - 500px);
  }

  .attribution {
    position: absolute;
    bottom: 1px;
  }
}
